
body{
font-family: 'Droid Sans', sans-serif;
}
h1,h2,h3,h4 {
font-family: 'Oswald', sans-serif;
font-weight:bold;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

select {
	cursor:pointer;
}

select.select {
	height:35px;
	font-size:14px;
	padding:4px;
}

select.select option {
	padding:4px;
	background-color:#fff;
}



.navbar-default {
    background-color: #CCEBFF;
    border-color: #e7e7e7;
    padding-bottom:10px;
}

.navbar-logo{
	padding: 6px 20px 0 0;
	max-height:70px;
	float:left;
}

.nav {
	padding-top:20px;
}

.panel-default > .panel-heading {
    background-color:#E3F4FF;
    border: none;
}    

.jumbotron {
    background-color: #87D0E8;
    padding-top:100px;
}

.spacer200 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.deleted {
	opacity:0.3;
}

.patterns{
	margin-bottom:20px;
}

.panel-heading > h4 {
	font-size:20pt;
}

.pattern-card {
height:120px; text-align:center; position:relative;
}
.pattern-card:hover{
	background-color:lightblue;
}
.pattern-card h5{
	font-weight:bold;
}
.card-image {
	max-height:70%;
	max-width: 86%;
	bottom:6%;
	left:6%;
	position:absolute;
}

.filter-portals .btn {
	margin-bottom: 4px;
}

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 14px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}



.pattern-card .add-fav{
	display:none;
	position:absolute;
	right:0;
	bottom:0;
	padding:4px;
	background-color:gray;
	height:22px;
	width:22px;
	cursor:pointer;
}

.pattern-card:hover .add-fav{
	display:block;
}

.mark {
background-color:transparent;
}

.btn-primary.active{
background-image:none;
background-color:#999;
}

.footer {
display:inline-block;
height: 400px;
width:100%;
margin-top:50px;
padding:20px;
background-color:#fff;
color:#333;
border-top: solid 1px #ccc;
}

.footer .logos {
	margin-bottom:50px;
}

.footer img {
 max-width:250px;
 max-height:75px;
 padding-right:20px;
}

.search-fields {
	max-width: 600px;
	border-bottom: solid 2px #fff;
	padding: 4px;
}

#add-field-row {
	padding-left:450px;
	margin-top:6px;
}


.mb-btn{
 color:#777;
 cursor:pointer;
}
.mb-btn:hover{
	color:#111;
}



