<% layout( 'm_layout' ) -%>

<script>
$(document).ready (function () { 
	$("input:text").focus(function() {;$(this).select(); } );
});	
</script>


<div class="jumbotron">
	<div class="container">
  <h2></h2>
  <h2>Über diese Seite</h2>
  <p hidden>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
 
  <p hidden>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
  </div>
</div>



<div class=" container mark">

  
### Über diese Datenbank

Die Erfassung der hier vorliegenden Daten erfolgte bis August 2015 – auf Grundlage der Modulbeschreibungen, die in den Studienordnungen der Studiengänge der jeweiligen Einrichtungen online zu recherchieren sind. Die Ergebnisse der Datenbankabfrage entsprechen folglich dem Stand vom August 2015. Die Inhalte und Schlagworte wurden an ausgewählten Stellen durch persönliche Abstimmung mit den Modulverantwortlichen ergänzt.

**Zitation:** 

Brackhage, Carsten; Schaarschmidt; Schön, Eric; Nadine; Seidel, Niels (2016): ModuleBase: Hochschulübergreifende Datenbank von Studiengangsmodulen. http://www..de.

### Das Projekt ÖBIN

Ziel des Projektes [Ökosysteme – Biodiversität – Nachhaltige Raumentwicklung](https://tu-dresden.de/bu/umwelt/forschung/oebin) (ÖBIN), gefördert aus dem Initiativbudget des Sächsischen Staatsministerium für Wissenschaft und Kunst (2014-2016), ist es Forschungs- und Lehr-Cluster in der Hochschulregion Ostsachsen zu den Themengebieten Ökosysteme – Biodiversität – Nachhaltige Raumentwicklung zu fördern. Die *Fakultät Umweltwissenschaften der Technischen Universität Dresden*, das *Internationale Hochschulinstitut Zittau* (Zentrale Wissenschaftliche Einrichtung der TU Dresden) und die *Hochschule Zittau/Görlitz* arbeiten gemeinsam mit bereits bestehenden Partnern, wie die Senckenberg Gesellschaft – Museum für Naturkunde Görlitz, dem Leibnitz Institut für Ökologische Raumentwicklung und weiteren neuen Partnern an dem Ausbau von Kooperationen, der gemeinsamen Nutzung von Ressourcen und der inhaltlichen sowie strukturellen Verzahnung dieser Disziplinen, um Synergieeffekte zu erzielen und die Attraktivität der Forschungs- sowie Studienlandschaft in der Region zu stärken. 
 
### Design und Entwicklung

Niels Seidel [Social Machinables UG (haftungsbeschränkt)](https://social-machinables.com/)


### Lizenzen 

Daten: [ODC-BY 1.0 license](http://opendatacommons.org/licenses/by/summary/) ![Open Data Logo](/static/img/opendata.png), siehe [API](/api)

Software: [MIT License](https://opensource.org/licenses/MIT), verfügbar unter [https://github.com/nise/moduleBase](https://github.com/nise/moduleBase)

Sonstige Inhalte: Creative Commons 3.0, CC-BY



  
</div>
  

  
</div>



