<% layout( 'm_layout' ) -%>

<script>
$(document).ready (function () { 
	$("input:text").focus(function() {;$(this).select(); } );
});	
</script>


<div class="jumbotron">
	<div class="container">
  <h2></h2>
  <h2><%= title %></h2>
  <p hidden>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
 
  <p hidden>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
  </div>
</div>



<div class=" container mark">

  
### Über diese Datenbank

Diese Datenbank ...

Zitation: ...

### Das Projekt ÖBIN

...

### Design und Entwicklung

Niels Seidel, [nise81](http://www.nise81.com/)


### Lizenzen

Inhalte, Daten und Datenbank: Creative Commons 3.0, CC-BY

Software: MIT License, verfügbar unter [https://github.com/nise/moduleBase](https://github.com/nise/moduleBase)


  
</div>
  
  
</div>



