<% layout( 'm_layout' ) -%>

<script>
$(document).ready (function () { 
	$("input:text").focus(function() {;$(this).select(); } );
});	
</script>


<div class="jumbotron">
	<div class="container">
  <h2></h2>
  <h2>Data API</h2>
  <p class="">
We would like to encourage other researchers and academics to use our data for further research, evaluation and computation. Therefore, we propose this moduleBase as an Open Data repository. You can download and dynamically call our data in different formats.
</p>
<p>
Our data is made available under the Open Data Commons Attribution License: <a href="http://opendatacommons.org/licenses/by/1.0/">opendatacommons.org/licenses/by/1.0/</a>
</p>
  </div>
</div>

<div class="container">
  
  <h3>Modules</h3>
  <div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">HTTP GET / JSON</span>
		<input style="cursor:pointer;" readonly type="text" class="form-control" placeholder="" value="http://<our-site>/data/json/modules" aria-describedby="sizing-addon2">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">HTTP GET / CSV</span>
		<input style="cursor:pointer;" readonly type="text" class="form-control" placeholder="" value="http://<our-site>/data/csv/modules" aria-describedby="sizing-addon2">
	</div>
	
	
 
</div>
  
  
</div>



