<% layout( 'm_layout' ) -%>

<script>
$(document).ready (function () { 
	$("input:text").focus(function() {;$(this).select(); } );
});	
</script>


<div class="jumbotron">
	<div class="container">
  <h2></h2>
  <h2><%= title %></h2>
  <p hidden>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
 
  <p hidden>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
  </div>
</div>



<div class=" container ">
<div class="col-md-6 mark">

## Anbieterkennzeichnung 

Technische Universität Dresden
01062 Dresden

Tel.: +49 (0) 351 463-0
Fax: +49 (0) 351 463-37284

Die Technische Universität Dresden ist eine Körperschaft öffentlichen Rechts. Sie wird durch den Rektor gesetzlich vertreten.

Die Adresse des Rektors ist:
Technische Universität Dresden
Rektor
Prof. Dr.-Ing. habil. DEng/Auckland Hans Müller-Steinhagen
01062 Dresden

Tel.: +49 (0) 351 463-0
Fax: +49 (0) 351 463-37121
E-Mail: rektor@tu-dresden.de

Die zuständige Aufsichtsbehörde ist das:
Sächsisches Staatsministerium für Wissenschaft und Kunst
Wigardstraße 17
01097 Dresden

Postanschrift:
Postfach 100 920
01076 Dresden

Tel.: +49 (0) 351 564-0

Die Umsatzsteueridentifikationsnummer der Technischen Universität Dresden lautet:
USt.-IdNr. DE 18 83 69 99 1

Die Bankverbindung der Technischen Universität Dresden lautet:
IBAN: DE52 8504 0000 0800 4004 00
BIC: COBADEFF850

Diese Bankverbindung gilt nicht für die Einzahlung des Semesterbeitrags!
Die dafür vorgesehene Bankverbindung finden Sie hier!

 
VERANTWORTLICHKEITEN:

Technische Universität Dresden
Projekt ÖBIN - Ökosysteme, Biodiversität und nachhaltige Raumentwicklung
Projektkoordination
Carsten Brackhage
Tel.: +49 351 463-37675 oder
Tel: +49 351 463-31328

E-Mail: Carsten.Brackhage@tu-dresden.de

Betreiber: (müsstest du eintragen, Niels)
Technische Universität Dresden

Zentrum für Informationsdienste und Hochleistungsrechnen (ZIH)
01062 Dresden

Tel.: +49 351 463-40000

Fax:  +49 351 463-42328

E-Mail : servicedesk@tu-dresden.de

Datenschutz:
Technische Universität Dresden
Datenschutzbeauftragter
01062 Dresden

Tel.: +49 (0) 351 463-32881
Fax: +49 (0) 351 463-37179

 
## Haftungsausschluss

Die inhaltliche Verantwortung der einzelnen WWW-Seiten liegt bei den jeweiligen informationseinstellenden Einrichtungen oder Personen. Eine Haftung für die Richtigkeit, Vollständigkeit und Aktualität dieser Webseiten kann trotz sorgfältiger Prüfung nicht übernommen werden. Die Technische Universität Dresden übernimmt insbesondere keinerlei Haftung für eventuelle Schäden oder Konsequenzen, die durch die direkte oder indirekte Nutzung der angebotenen Inhalte entstehen.

Es wird ausdrücklich darauf hingewiesen, dass sowohl die Technische Universität Dresden als auch das IHI Zittau als Betreiber, keine Verantwortung für den Inhalt von Seiten übernehmen, die mittels Link von den WWW-Dokumenten der Technischen Universität Dresden erreichbar sind.

Für diese Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung dieser Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde.

 
## Urheberrecht und Bildnachweis

Alle im Internetangebot der Technischen Universität Dresden veröffentlichten Inhalte (Layout, Texte, Bilder, Grafiken usw.) unterliegen dem Urheberrecht. Jede vom Urheberrechtsgesetz nicht zugelassene Verwertung bedarf vorheriger ausdrücklicher Zustimmung. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Fotokopien und Downloads von Web-Seiten für den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch dürfen hergestellt werden.

Wir erlauben ausdrücklich und begrüßen das Zitieren unserer Dokumente und Webseiten sowie das Setzen von Links auf unsere Website.

Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.

Das auf den Seiten der Technischen Universität Dresden verwendete Bildmaterial unterliegt in Teilen der Pflicht eines Bildnachweises: Bildnachweis

 

## Datenschutzerklärung

**I) Allgemeine Regelungen**

Die Technische Universität Dresden unterliegt als öffentliche Stelle den Bestimmungen des Sächsischen Datenschutzgesetzes (SächsDSG) sowie den einschlägigen gesetzlichen Grundlagen mit Bestimmungen zum Schutz des Rechtes auf informationelle Selbstbestimmung.

Zum Schutz Ihrer Rechte haben wir technische und organisatorische Maßnahmen getroffen, dass die Vorschriften über den Datenschutz innerhalb der Technischen Universität Dresden als auch von externen Dienstleistern beachtet werden, wenn diese an diesem Angebot mitwirken.

Ihre Daten dürfen nur in dem Umfang verarbeitet werden, wie spezielle Gesetze dies zulassen oder Ihre Einwilligung vorliegt.

**II) Cookies**

Um die Nutzung unserer Website zu erleichtern, verwenden wir „Cookies“. Cookies sind kleine Textdateien, die von Ihrem Browser auf der Festplatte Ihres Computers abgelegt werden können und hilfreich für die Nutzung unserer Website sind. Cookies speichern Ihre personenbezogenen Daten nicht. Sie können Ihren Internet-Browser so einstellen, dass das Speichern von Cookies auf Ihrer Festplatte verhindert wird bzw. Sie jedes Mal gefragt werden, ob Sie mit dem Setzen von Cookies einverstanden sind. Einmal gesetzte Cookies können Sie auch jederzeit wieder löschen. Wie dies im Einzelnen funktioniert, können Sie den Hilfeseiten Ihres Browsers entnehmen.



</div>
 </div> 
  
</div>

