
<% layout( 'm_layout' ) -%>

<div class="jumbotron">
	<div class="container">
  <h2>Neues Modul</h2>
  </div>
</div>

<div class="container">
	<div class="col-md-8">
		<div id="errors"></div>
    <form class="modules-edit" id="form"></form><!--  action="/modules/update/<%= item._id %>" type="POST"-->
    <div id="res" class="alert"></div>
   </div> 
</div>
   
    <script src='/static/js/jquery.min.js' type='text/javascript'></script>
		<script type="text/javascript" src="/static/js/underscore.js"></script>
		<script type="text/javascript" src="/static/js/jsv.js"></script>
    <script src="/static/js/jsonform.js"></script>
    
  
 
    <script type="text/javascript">
      var formObject = {
        schema: {
          "modultitel": {
            "type": 'string',
            "title": 'Modultitel',
            "required": true
          },
           "modulnr1": {
            "type": 'string',
            "title": 'Modulnummer (1)',
            "required": true
          },
           "modulnr2": {
            "type": 'string',
            "title": 'Modulnummer (2)',
            "allowEmpty": true,
            "required": false
          },
           "courses": {
            "type": 'string',
            "title": 'Studiengänge',
            "description": "Bei Angabe mehrerer Studiengänge sollten diese durch ein Komma voneinander getrennt werden",
            "required": true,
            "minLength": 4
          },
          "university": {
            "type": 'string',
            "title": 'Hochschule',
            "enum": [
							"TUD",
							"HSZG",
							"TUD/IHI"
						],
            "required": true
          },
          "type": {
						"title": "Typ",
						"type": "string",
						"enum": [
							"Bachelor",
							"Master",
							"Diplom",
							"Diplom/Bachelor"
						],
						"required": true
					},	
					"language": {
						"title": "Sprache",
						"type": "string",
						"enum": [
							"Deutsch",
							"Englisch",
							"Deutsch/Englisch"
						],
						"required": true
					},	
          "summer_winter": {
						"title": "WS/SS",
						"type": "string",
						"enum": [
							"SS",
							"WS",
							"WS + SS"
						],
						"required": true
					}, 
					"tags": {
						"title": "Schlüsselwörter",
						"type": "string",
						"required": false
					}, 
					/**************************/
					"sws_total": {
            "type": 'number',
            "title": 'Semesterwochenstunden',
            "required": true
          },
          "sws": {
		        "type": "object",
							"title": "SWS",
							"properties": {
								"vorlesung": {
									"type": "number",
									"title":"Vorlesung",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"seminar": {
									"type": "number",
									"title":"Seminar",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"ringvorlesung": {
									"type": "number",
									"title":"Ringvorlesung",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"ubung": {
									"type": "number",
									"title":"Übung",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"tutorium": {
									"type": "number",
									"title":"Tutorium",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"praktikum": {
									"type": "number",
									"title":"Praktikum",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"exkursion": {
									"type": "number",
									"title":"Exkursion",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"projekt": {
									"type": "number",
									"title":"Projekt",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"berufspraktikum": {
									"type": "number",
									"title":"Berufspraktikum",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"sprachkurs": {
									"type": "number",
									"title":"Sprachkurs",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"elearning": {
									"type": "number",
									"title":"E-Learning",
									"minimum": 0,
									"maximum": 30,
									"step":1
								},
								"ubung_seminar": {
									"type": "number",
									"title":"Übungen/Seminar",
									"minimum": 0,
									"maximum": 30,
									"step":1
								}
							}
					},
          "workload": {
            "type": 'number',
            "title": 'Workload (h)',
            "required": true
          },
          "workload_self": {
            "type": 'number',
            "title": 'Workload im Selbststudium',
            "required": true
          },
          "ects": {
            "type": 'number',
            "title": 'ECTS',
            "required": true,
            "minimum": 0.5,
      			"maximum": 50,
      			"step":0.5
          },
          "pvl": {
						"type": "array",
						"title": "Prüfungsvorleistungen",
						"items": {
						  "type": "number",
						  "title": "Option",
						  "enum": [
						  	"referat",
						    "labor",
						    "beleg",
						    "testat",
						    "protokoll",
						    "moderation"
						  ]
						}
					},
					"pl": {
						"type": "array",
						"title": "Prüfungsleistungen",
						"items": {
						  "type": "number",
						  "title": "Option",
						  "enum": [
						  	"klausur",
						    "mdlpruefung",
						    "referat",
						    "praesentation",
						    "belegarbeit",
						    "seminararbeit",
						    "projektarbeit",
						    "praktikumsprotokoll",
						    "praktikumsbericht",
						    "exkursionsbericht",
						    "laborarbeit",
						    "forschungsplan",
						    "elearningtest"
						  ]
						}
					},
					/***************************/
					"struktureinheit": {
            "type": 'string',
            "title": 'Struktureinheit der Hochschule',
            "allowEmpty": true,
            "required": false
          },
					"modulverantwortlicher": {
            "type": 'string',
            "title": 'Modulverantwortliche',
            "allowEmpty": true,
            "required": false
          },
          "email": {
            "type": 'email',
            "title": 'E-Mail',
            "allowEmpty": true,
            "required": false
          },
          "lecturers": {
            "type": 'string',
            "title": 'Weitere Dozenten',
            "allowEmpty": true,
            "required": false
          },
          "remarks_general": {
            "type": 'textarea',
            "title": 'Allgemeine Bemerkungen',
            "description": "(öffentlich sichtbar)",
            "allowEmpty": true,
            "required": false
          },
          "remarks_internal": {
            "type": 'textarea',
            "title": 'Interne Bemerkungen',
            "allowEmpty": true,
            "required": false
          }
        },
        /**************************/
        "form": [
		      {
						"type": "submit",
						"title": "Speichern"
					},
					{
		        "type": "button",
		        "title": "Abbrechen"
		      },  
					{
						"key": "modultitel",
						"type": "text"
					},
        	{
						"key": "modulnr1",
						"type": "text"
					},
        	{
						"key": "modulnr2",
						"type": "text"
					},
        	{
						"key": "courses",
						"type": "text"
					},
        	{
						"key": "university",
						"type": "radios",
						"titleMap": {
						  "TUD": "TU Dresden",
						  "TUD/IHI": "TU Dresden / Internationales Hochschulinstitut",
						  "HSZG": "Hochschule Zittau/Görlitz"
						}
					},
        	{
						"key": "type",
						"type": "radios",
						"titleMap": {
						  "Bachelor": "Bachelor",
						  "Bachelor/Diplom": "Bachelor/Diplom",
						  "Master": "Master",
						  "Diplom":"Diplom"
						}
					},
        	{
						"key": "language",
						"type": "radios"
					},
        	{
						"key": "summer_winter",
						"type": "radios",
						"titleMap": {
						  "WS": "Wintersemester",
						  "SS": "Sommersemester",
						  "WS + SS": "Winter- und Sommersemester"
						}
					},
					{
						"key": "tags",
						"type": "textarea"
					},
        	{
						"key": "sws_total",
						"type": "text"
					},
					{
						"key": "sws",
						"type": "fieldset",
						"items": {
						  "vorlesung":"Vorlesung",
					    "seminar":"Seminar",
					    "ringvorlesung":"Ringvorlesung",
					    "ubung":"Übung",
					    "tutorium":"Tutorium",
					    "praktikum":"Praktikum",
					    "exkursion":"Exkursion",
					    "projekt":"Projekt",
					    "berufspraktikum":"Berufspraktikum",
					    "sprachkurs":"Sprachkurs",
					    "elearning":"E-Learning",
					    "ubung_seminar":"Übung/Seminar"
						}
					},
					{
						"key": "workload",
						"type": "text"
					},
					{
						"key": "workload_self",
						"type": "text"
					},
					{
						"key": "ects",
						"type": "text"
					},
        	{
						"key": "pvl",
						"type": "checkboxes",
						"titleMap": {
						  "referat":"Referat",
					    "labor":"Labor",
					    "beleg":"Beleg",
					    "testat":"Testtat",
					    "protokoll":"Protokoll",
					    "moderation":"Moderation"
						}
					},
					{
						"key": "pl",
						"type": "checkboxes",
						"titleMap": {
						  	"klausur":{title:"Klausur"},
						    "mdlpruefung":"Mündliche Prüfung",
						    "referat":"Referat",
						    "praesentation":"Präsentation",
						    "belegarbeit":"Belegarbeit",
						    "seminararbeit":"Seminararbeit",
						    "projektarbeit":"Projektarbeit",
						    "praktikumsprotokoll":"Praktikumsprotokoll",
						    "praktikumsbericht":"Praktikumsbericht",
						    "exkursionsbericht":"Exkursionsbericht",
						    "laborarbeit":"Laborarbeit",
						    "forschungsplan":"Forschungsplan",
						    "elearningtest":"E-Learning Test"
						}
					},
					{
						"key": "struktureinheit",
						"type": "text"
					},
						{
						"key": "modulverantwortlicher",
						"type": "text"
					},
					{
						"key": "email",
						"type": "text"
					},
					{
						"key": "lecturers",
						"type": "text"
					},	
					{
						"key": "remarks_general",
						"type": "textarea"
					},	
					{
						"key": "remarks_internal",
						"type": "textarea"
					}
					 	
				],
        //
        "onSubmit": function (error, values) {
        	
          if (error) {
            alert(JSON.stringify( error ))
          }
          else {
          	
          	values.tags = values.tags.split(/,|, /);
          	values.courses = values.courses.split(/,|, /);

          	$.ajax({
								"type": "POST",
								url: "/modules/update/<%= item._id %>",
								data: JSON.stringify( values ),
								success: function(){ 
									window.location.replace("/modules/view/<%= item._id %>");
								},
								error: function(err){
									alert(JSON.stringify(err))
								},
								contentType : "application/json"
							});
          }
        },
        "displayErrors": function (errors, formElt) {
					for (var i=0; i<errors.length; i++) {
						errors[i].message = "Avast! Ye best be fixin' that field!";
					}
					$('#errors').jsonFormErrors(errors, formObject);
				}
      }
      
      $('form.modules-edit').jsonForm( formObject );
    </script>
