<% layout( '../m_layout' ) -%>
<div  class="jumbotron">
	<div class="container">
		<h2>Users</h2>
		<a href="/admin/users/create" class="label label-primary"><span class="glyphicon glyphicon-plus"></span> Create new</a>
  </div>
</div>
<div class="container">
<div class="col-md-10">
<div id="table1"></div>
</div>
</div>
<script type="text/javascript"> 
$(document).ready (function () { 
	$('#table1').bootstrapTable({
    data: JSON.parse('<%-JSON.stringify( items )%>'),
    search: false,
    strictSearch: true,
    trimOnSearch:true,
    columns: [
		  { field: 'username', title: 'Username', formatter: userFormatter, sortable : true, order: 'asc', searchable: true }, 
		  { field: 'name', title: 'Name',  formatter: nameFormatter, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'role', title: 'Role', visible:true, sortable : true, searchable : true }, 
		  //{ field: 'groups', title: 'Groups', visible:true, sortable : false, /*formatter: videoFormatter,*/ order: 'asc',searchable : true }, 
		  { field: 'status', title: 'Status', visible:true, sortable : false, formatter: statusFormatter, order: 'asc',searchable : true }, 
			{ field: 'operator', title: '', visible:true, sortable : false, formatter: operateFormatter, order: 'asc',searchable : false }, 
    ]
	});
});

function userFormatter(value, row, index) {
	return [
		'<a class="table-link" href="/users/view/'+row.username+'" title="View user profile page">',
		'<img width="15" src="/static/img/user-icons/user-'+row.id+'.png" /> ',
		row.username,
		'</a>'
	].join('');
}

function nameFormatter(value, row, index) {
	return row.firstname+' '+row.name;
}

function statusFormatter(value, row, index) {
	if(row.status.online){
		return '<span class="glyphicon glyphicon-heart" title="online"></span>';	
	}else{
		return '<span class="glyphicon glyphicon-heart-empty" title="offline"></span>';
	}
}

function operateFormatter(value, row, index) {
	return [
		'<a class="table-link" href="/admin/users/edit/'+row._id+'" title="Edit user">',
		'<i class="glyphicon glyphicon-pencil"></i> edit',
		'</a><br/>',
		'<a class="table-link" href="/admin/users/destroy/'+row._id+'" title="Remove user">',
		'<i class="glyphicon glyphicon-remove"></i> remove',
		'</a>'
	].join('');
}

</script>




    
