<% layout( '../m_layout' ) -%>
<div  class="jumbotron">
	<div class="container">
		<h2>Nutzer anlegen</h2>
  </div>
</div>
<div class="container">

<div class="col-md-10">
	 
   <div class="edit-form">    
   <form action="/admin/users/create" method="post" accept-charset="utf-8">
    	<div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Benutzername</span>
				<input type="text" class="form-control" placeholder="Benutzername" aria-describedby="sizing-addon1" name="username" value="">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Name</span>
				<input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1" name="name" value="">
      </div>
      <br>
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Vorname</span>
				<input type="text" class="form-control" placeholder="Vorname" aria-describedby="sizing-addon1" name="firstname" value="">
      </div>
      <br>  
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Rolle</span>
				<input type="text" class="form-control" placeholder="Rolle" aria-describedby="sizing-addon1" name="role" value="">
      </div>
      <br>
      
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">E-Mail</span>
				<input type="text" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1" name="email" value="">
      </div>
      <br>
      
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Passwort</span>
				<input type="password" class="form-control" placeholder="" aria-describedby="sizing-addon1" name="password" value="">
      </div>
      <br>
			
			
			<div class="buttons">
				<button type="submit" class="btn-primary btn">Nutzer anlegen</button>  <a href="/admin/users">abbrechen</a>
			</div>
    </form>
	</div>
</div>
</div>


